body{
	background-color: rgb(165, 165, 165) !important;
}

.section1{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

.card{
	border-radius: 15px !important;
	pointer-events: painted;
	margin-bottom: 25px;
	width: ;
}

img{
	border-radius: 15px !important;
	width: 400px !important;
	margin: auto auto;
}

.header{
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
	margin-top: 20px;
}

@media screen and (max-width: 1024px) {

	.header{
		justify-content: space-between;
		padding: 25px;
	}
	.card{
		border-radius: 15px !important;
		pointer-events: painted;
		margin-bottom: 25px;
		width:90% !important;
	}
	img{
		border-radius: 15px !important;
		width: 100% !important;
		/* margin: auto auto; */
	}
	
  }